<header class="dashboard-header">
    <nav>
	    <ul>
		    <li><a class="navlink" href="/">Home</a></li>
			<li><a class="navlink" href="/dashboard">Dashboard</a></li>
		    <li><a class="navlink" href="/google">Google</a></li>
		    <li><a class="navlink" href="/linkedin">LinkedIn</a></li>
		    <li><a class="navlink" href="/hotjar">Hotjar</a></li>
	    </ul>
    </nav>
</header>