<%- include('./partials/head') %>



<header class="dashboard-header">
	<!-- <h1>Dashboard</h1> -->
	<%- include('./partials/nav') %>
</header>

<!-- Dashboard content -->
<main class="dashboard-content">
	<!-- Card 1 -->
	<section class="dashboard-card">
		<h3>Google</h3>
		<picture>
			<source srcset="/img/google.png" type="image/webp">
			<source srcset="/img/google.png" type="image/avif">
			<a href="/google"><img src="/img/google.png" alt="logo Google"></a>
			</picture>
    </section>

	<!-- Card 2 -->
	<section class="dashboard-card">
		<h3>LinkedIn</h3>
		<picture>
			<source srcset="/img/linkedin.png" type="image/webp">
			<source srcset="/img/linkedin.png" type="image/avif">
			<a href="/linkedin"><img src="/img/linkedin.png" alt="logo Linkedin"></a>
		</picture>
    </section>

	<section class="dashboard-card">
		<h3>Hotjar</h3>
		<picture>
			<source srcset="/img/hotjar.png" type="image/webp">
			<source srcset="/img/hotjar.png" type="image/avif">
			<a href="/hotjar"><img src="/img/hotjar.png" alt="logo Hotjar"></a>
		</picture>
    </section>
	

	
</main>
<%# console.log(data.rows) %>

<%# data.rows.forEach(function(row) { %>

    <p><%#= row.dimensionValues[0].value %>: <%#= row.metricValues[0].value %></p>

<%#S }) %>
<%- include('./partials/footer') %>