:root {
    /* Typografie */
    --body-fonts: "Nunito", sans-serif;
    --font-large:  bold;
    --font-small: lighter;
    --line-height: 1.5;
    
    /* kleuren */
    --green-smith: #B9FFB7;
    --orange-crayola: #FF7535;
    --majorelle-blue: #5E43FF;
    --Xiketic: #120B11;
    --Raisin-black: #302A2F;
    --Sonic-silver: #736f72;
    --Snow: #FCF8F7;

    /* transities */
    --transition-1: 0.85s ease;
}


/* Algemene stijling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-fonts);
    background-color: var(--Snow);
    height: 100vh;  
}

header {
    width: 100%;
    padding: 1.5em;
    display: grid;
    justify-items: start;
    background-color: var(--Snow);
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 2px;
    background-color: var(--Xiketic);
    color: #fff;
    border-radius: 50px;
}

nav ul {
    display: flex;
    gap: 1em;
    justify-content: center;
    
}

nav li {
    display: grid;
    justify-items: center;
    grid-row: 3;
    padding: 10px 20px;
    text-decoration: none;
    text-align: left;
    color: var(--Snow);
    list-style-type: none;
    border-right: 1px solid var(--Sonic-silver);
}

nav li:last-child {
    border: none;
}

.navlink {
    color: var(--Snow);
	position: relative;
	outline: none !important;
	text-transform:capitalize;
	transition: 0.2s;
}

.navlink::after {
    content: "";
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	transition: 0.2s;
}

.navlink:hover,
.navlink:focus {
	color: var(--Snow);
}

.navlink:hover::after,
.navlink:focus::after {
	background-color: var(--Snow);
	width: 100%;
}

nav li a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 1.5em;
  text-align: left;
  color: var(--Snow);
  display: block;
  z-index: 1;
}


main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    position: relative;
    height: 100vh;
    width: 70vw;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.fresk-logo {
    position: absolute;
    height: 50px;
    top: 50px;
    left: 0;
}

/* Page Transition */
.transition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transition-1 {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 200;
    background: var(--Raisin-black);
    transition: var(--transition-1);
}

.transition-1.is-active {
    top: 0;
}

.transition-2 {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 200;
    background: var(--Raisin-black);
    transition: var(--transition-1);
}

.transition-2.is-active {
    top: 0;
}

.transition img {
    height: 75px;
    margin-bottom: 2em;
}


.loader {
    width: 38px;
    height: 38px;
    border: 4px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


#google-section {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: start;
}





footer {
    width: 100%;
    padding: 1.5em;
    background-color: var(--Snow);
    position: fixed;
    bottom: 0;
    z-index: -1;
}


/* Login stijling */
.login-section {
    display: flex;
    justify-content: center;
    background: url(../img/fresk-backdrop.png);
    background-repeat: no-repeat;
    background-size: 100%; 
    text-align: left;
}

form.login {
    padding: 5em;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 2em;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
}

h2 {
    background-image: linear-gradient(to right, var(--orange-crayola), var(--majorelle-blue));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
}

h3 {
    background-image: linear-gradient(to right, var(--orange-crayola), var(--majorelle-blue));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px;
    font-style: var(--font-large);
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 0.4em;
    margin-bottom: 30px;
}

.login-btn {
    width: 100%;
    padding: 0.5em;
    text-transform: lowercase;
    background-color: var(--Xiketic);
    color: var(--Snow);
    font-family: var(--body-fonts);
    border: 2px solid var(--Sonic-silver);
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: var(--orange-crayola);
    color: var(--Snow);
}

/* Dashboard stijling */
.dashboard {
	display: flex;
    justify-content: center;
    flex-flow: row;
    gap: 10px;
    height: 100vh;
    
}

.dashboard-header {
    background-color: var(--Snow);
    color: var(--Xiketic);
    padding: 10px;
    text-align: center;
    justify-items: center;
}

.dashboard-content {
    display: flex;
    gap: 15px;
}

.dashboard-card {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px;
	padding: 20px;
	width: 450px;
    height: 450px;
}

.dashboard-card:hover {
	box-shadow: 0 0 50px var(--Sonic-silver);
}



@media screen and (max-width: 30em) {
    
    /* Algemene stijling */
    main {
        display: flex;
        justify-content: center;
    }
    
    section {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 75vw;
        margin: auto;
    }

    nav {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 1px;
        background-color: var(--Xiketic);
        color: #fff;
        border-radius: 50px;
        
    }
    
    nav ul {
        display: flex;
        gap: 1em;
        justify-content: center;
        
    }
    
    nav li {
        display: flex;
        justify-items: center;
        grid-row: 3;
        padding: 8px 12px;
        text-decoration: none;
        text-align: left;
        color: var(--Snow);
        list-style-type: none;
        border-right: 1px solid var(--Sonic-silver);
    }
    
    nav li:last-child {
        border: none;
    }
    
    .navlink {
        color: var(--Snow);
        position: relative;
        outline: none !important;
        text-transform:capitalize;
        transition: 0.2s;
    }
    
    .navlink::after {
        content: "";
        background-color: black;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        transition: 0.2s;
    }
    
    .navlink:hover,
    .navlink:focus {
        color: var(--Snow);
    }
    
    .navlink:hover::after,
    .navlink:focus::after {
        background-color: var(--Snow);
        width: 100%;
    }
    
    nav li a {
      padding: 3px 4px 3px 4px;
      text-decoration: none;
      font-size: 1em;
      text-align: left;
      color: var(--Snow);
      display: block;
      z-index: 1;
    }

    .toggle-dark {
        width: 40%;
        padding: 0.5em;
        text-transform: lowercase;
        background-color: var(--Xiketic);
        color: var(--Snow);
        font-family: var(--body-fonts);
        border: 2px solid var(--Sonic-silver);
        border-radius: 5px;
        text-align: left;
    }

    /* Einde algemene stijling mobiel*/

/* login stijling mobiel*/
    .login-section {
        display: flex;
        justify-content: center;
        background: url(../img/fresk-backdrop.png);
        background-repeat: no-repeat;
        background-size: 100%; 
        text-align: left;
    }
    
    form.login {
        padding: 5em;
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding: 2em;
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 100%;
    
    }

    input[type="email"], input[type="password"] {
        width: 100%;
        padding: 0.4em;
        margin-bottom: 30px;
    }
    
    input[type="submit"] {
        width: 100%;
        padding: 0.5em;
        text-transform: uppercase;
        background-color: var(--Xiketic);
        color: var(--Snow);
        font-family: var(--body-fonts);
        border: 2px solid var(--Sonic-silver);
        border-radius: 5px;
    }
    
    input[type="submit"]:hover {
        cursor: pointer;
        background-color: var(--Snow);
        color: var(--Xiketic);
    }
    
    h2 {
        background-image: linear-gradient(to right, var(--orange-crayola), var(--majorelle-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36px;
    }
    /* Einde login stijling mobiel */

    /* Dashboard stijling mobiel */
.dashboard {
	display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 10px;
    height: 100vh;
}

.dashboard-header {
    background-color: var(--Snow);
    color: var(--Xiketic);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-items: center;
}

.dashboard-content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 15px;
}

.dashboard-card {
    display: flex;
    justify-content: center;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px;
	padding: 20px;
	width: 350px;
    height: 350px;
}

.dashboard-card:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

div {
    width: 100%;
}



    

}